<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Plan</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" 
          ng-click="cancel()">
          <md-icon md-svg-src="../assets/svg/ic_done_white_24px.svg" 
            aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
          <div class="md-inline-form">
            <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
              <label>Plan Name</label>
              <md-icon class="name"></md-icon>
              <input ng-model="therblig.name" type="text" 
              placeholder="{{ therblig.name }}">
            </md-input-container>      
        </div>
      </div>
          <md-content layout-padding>
            <div>
              <form name="therbligForm">

                <div layout-gt-sm="row" ng-repeat="parameter in 
                  therblig.parameters">
                  <md-input-container class="md-block" flex-gt-sm >
                      <label>{{ parameter.name }}</label>
                    <input ng-model="parameter.val" type="text">
                  </md-input-container>
                </div>

              </form>
            </div>
      </md-content>
    </md-dialog-content>
  </form>
</md-dialog>
