
<md-list dnd-list="$ctrl.things" dnd-allowed-types="['thing']" >

  <!-- List of Things -->
  <md-list-item ng-repeat="thing in $ctrl.things | unique: 'name'"
        dnd-draggable="thing"
        dnd-type="thing.type"
        dnd-moved="$ctrl.things.splice($index, 1)"
        dnd-effect-allowed="copy"
        >
        <span class="md-button md-raised md-primary button-text" 
           ng-click="$ctrl.editThing($event, thing)"
           ng-class="{'selected': thing === $ctrl.selected}"> 
          {{ thing.name }}
          </span>
  </md-list-item>
</md-list>
