<!-- NOTE: @see ngClick for how to pass data selection to outside expression -->
<md-list dnd-list="$ctrl.therbligs" dnd-allowed-types="['therblig.type']">

  <md-list-item ng-repeat="therblig in $ctrl.therbligs | unique: 'name'"
        dnd-draggable="therblig"
        dnd-type="'therblig'"
        dnd-moved="$ctrl.therbligs.splice($index, 1)"
        dnd-effect-allowed="copy"
        >
        <span class="md-button md-raised" 
           ng-click="$ctrl.showDetails({therblig:therblig})"
           ng-class="{'selected': therblig === $ctrl.selected}" > 
          {{therblig.name}}
          </span>
  </md-list-item>
</md-list>
