<div class='md-padding task-cards-container flipped' layout="row" flex >
  <div class='flipped'>

    <!-- Drag and Drop list of Tasks -->
      <div layout="row" dnd-list="$ctrl.tasks"
        dnd-horizontal-list="true" dnd-allowed-types="['task']">
      <div class="parent" layout="column" ng-repeat="task in $ctrl.tasks" flex
          dnd-draggable="task"
          dnd-type="'task'"
          dnd-moved="$ctrl.tasks.splice($index, 1)"
          dnd-effect-allowed="move">

        <md-card class="task-cards">

          <!-- Title -->
          <div layout="row">
            <div flex="90">
              <md-card-title class="task-card-title">
                {{ task.name }}
              </md-card-title>
            </div>
            <div>
              <md-button class="md-icon-button" aria-label="More" 
                ng-click="$ctrl.editTask($event, task, $ctrl.tasks)">
                <md-icon md-svg-icon="../assets/svg/ic_more_vert_black_24px.svg"></md-icon>
              </md-button>
            </div>
          </div>

          <! -- Therblig List in Task -->
          <md-card-content class="task-card-content">
            <md-list dnd-list="task.therbligList" dnd-allowed-types="['therblig']">
              <md-list-item 
                ng-repeat="therblig in task.therbligList"
                dnd-draggable="therblig"
                dnd-type="'therblig'"
                dnd-moved="task.therbligList.splice($index, 1)"
                dnd-effect-allowed="move"
                >
                <span class="md-button md-raised" 
                 ng-click="$ctrl.editTherblig($event, therblig, task.therbligList)"
                 ng-class="{'selected': therblig === $ctrl.selected}">
                    {{ therblig.name }}

                    <!-- Things -->
                    <md-list dnd-list="therblig.things" 
                      dnd-horizontal-lists="true" >
                      <!-- 
                      <md-list-item ng-repeat"thing in therblig.things"
                        dnd-draggable="thing"
                        dnd-moved="therblig.things.splice($index, 1)">
                          <span class="md-button md-fab md-mini" 
                             style="text-align:center"> 
                            {{ thing.name }}
                            </span>
                      </md-list-item>
                      -->
                    </md-list>

                </span>
              </md-list-item>
            </md-list>
          </md-card-content>

        </md-card>
      </div>
    </div>
  </div>
</div>
